<nav id="nav-panel">

  <div class="nav-pan">Dáta OKTE</div>
  <ul>
      <li><a href="/DT-ceny" onclick="hideNav()">Vysledky denného trhu</a></li>
      <li><a href="/DT-vs-Odch" onclick="hideNav()">Cena DT vs Odchýlka</a></li>
      <li><a href="/DT-vs-IDA" onclick="hideNav()">Cena DT vs IDA</a></li>
      <li><a href="/market-orderbook" onclick="hideNav()">Market Orderbook</a></li>
      <li><a href="/VDT-60" onclick="hideNav()">Dáta VDT - 60 minút</a></li>
  </ul>

  <div class="nav-pan">Dáta PICASSO</div>
    <ul>
        <li><a href="/PI-prehlad" onclick="hideNav()">Prehľad cien RE</a></li>
        <li><a href="/PI-4s" onclick="hideNav()">Prehľad cien RE - 4s data</a></li>
        <li><a href="/PI-LMOL" onclick="hideNav()">Picasso LMOL - SK</a></li>
        <li><a href="/PI-UNIT" onclick="hideNav()">Picasso UNITS</a></li>
    </ul>

  <div class="nav-pan">Dáta SEPS</div>
    <ul>
      <li><a href="/PpS-SEPS" onclick="hideNav()">Dostupná dipsonibilita</a></li>
      <li><a href="/RE-SEPS" onclick="hideNav()">Aktivovaná RE</a></li>

    </ul>

</nav>